/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://files.catbox.moe/3m90of.jpg");
    background-size: cover;
    height: 5vh;
    margin: 5px;
    padding: 10px;
    position: relative;
    border: 2px solid #4CAF50;
}

.logo {
    position: relative;
    top: 0px;
    left: 0px;
    width: 70px;
    height: auto;
}

.hamburger {
    font-size: 50px;
    cursor: pointer;
    color: black;
}

.menu {
    display: none;
    flex-direction: column;
    position: relative;
    top: 50px;
    left: 0;
    background-color: #4CAF50;
    width: 50%;
    border: 1px solid #fff;
}

.menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #45a049;
}

.content {
    padding: 20px;
}

footer {
    text-align: center;
    font-style: italic;
    padding: 10px;
    background-color: #f1f1f1;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

h4 {
    text-align: center;
}

.search-bar {
    margin: 20px 0;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-buttons a {
    margin: 0 10px;
    text-decoration: none;
}


